.jumbotron{
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-image: url("/home/mary/Documents/moringa-school-projects/Delani-Studios/images/jbackground.jpg");
    background-size: cover;
    height: 800px;
    border-radius: 0.3rem;
}
#logo{
  margin-top: 200px;
  margin-left: 600px;
  width: auto;
}
#mouse{
  margin-top: 270px;
  margin-left: 650px;
  width: auto;
}